# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
# ^ Also used as the encryption key for API keys stored in DB.
# Generate with: openssl rand -base64 48

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database (PostgreSQL)
#DATABASE_URL="postgresql://postgres:123456@localhost:5432/docklab"

# Database (MySQL)
DATABASE_URL="mysql://root:123456@localhost/docklab"

